.gitignore

src/*.o
**/*swp
**/*~

data/SlaptService.conf
data/org.jaos.SlaptService.service
src/slapt-update-notifier
src/slaptService

po/*.gmo
po/POTFILES

aclocal.m4
configure
depcomp
install-sh
missing
compile
aclocal.m4
autom4te.cache
config.*
**/stamp-*
src/.deps
**/Makefile
**/Makefile.in*
