[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=slapt-update-notifier
Comment=checks for system package upgrades
Exec=/usr/bin/slapt-update-notifier
StartupNotify=false
Terminal=false
Hidden=false

